/* your code here */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:#00FA9A;
	font-family:Arial,sans-serif;
}
.product__photo{
	border:none;
	width:55%;
	overflow:visible;
	border-radius:25px;
	margin:50px;
	z-index:2;
	margin-left:50px 0px 50px 50px;
	position:relative;
}
.photo-container{
	position:relative;
	
}
.photo-main{
	background-color:#b4ec51;
	postion:relative;
	padding:40px;
}
.photo-main img{
	max-width:100%;
	margin-left:-35%;
}
.controls{
	position:absolute;
	color:white;
	right:15px;
	top:15px;
	left:15px;
	display:flex;
	justify-content:space-between;
	font-size:18px;
}
.photo-album{
	display:flex;
	
}

.photo-album ul{
	list-style-type:none;
	display:flex;
	justify-content:space-around;
	background-color:white;
	width:100%;
	padding:0;
}
.photo-album li {
	border:3px solid #B2BEB5;
	margin:20px;
	padding:5px;
	border-radius:10px;
	background-color:white;
	margin-right:-0px;
}
.product__info{
	border:2px solid white;
	background-color:white;	
	width:65%;
	padding:40px 30px;
	z-index:1;
	margin-top:-80%;
	position:relative;
	padding:40px 30px 40px 80px;
	flex-direction:column;
	margin-left:60%;
	height:85vmin;
	margin-bottom:70%
}
.title{
	text-align:center;
	margin-bottom:15px;
}
.title span{
	color:grey;
}
.price{
	font-size:2.5em;
	font-weight:bold;
	color:#ff4081;
	margin-bottom:20px;
}
.price span{
	font-size:0.5em;
	font-weight:normal;
	color:#999;
}
.variant{
	color:grey;
	margin-bottom:20px;
}
.variant h3{
	margin-bottom:10px;
	color:#444;
	font-size:0.9em;
	font-weight:600;
}
.first{
	border:1px solid black;
	width:20%;
}
.variant ul{
	list-style-type:none;
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
}
li{
	gap:10px;
	
}
h1{
	font-weight:bold;
}
.description {
	margin-bottom: 20px;
}
.description h3 {
	margin-bottom: 10px;
	color: #444;
	font-size: 0.9em;
	font-weight: 600;
}
.description ul {
	list-style-type: disc;
	margin-left: 20px;
	font-size: 0.9em;
	color: #555;
}
.description li {
	margin-bottom: 5px;
}

/* Button styles */
.button {
	background-color: #ff4081;
	color: white;
	border: none;
	padding: 15px 0;
	width: 50%;
	border-radius: 5px;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 4px 15px rgba(255, 64, 129, 0.4);
	transition: background-color 0.2s, transform 0.2s;
}
.button:hover {
	background-color: #e91e63;
	transform: translateY(-2px);
}
.button .fa {
	margin-right: 10px;
}
