/* your code here */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:#00FA9A;
	font-family:Arial,sans-serif;
}
.product__photo{
	border:none;
	width:55%;
	overflow:visible;
	border-radius:25px;
	margin:50px;
	z-index:2;
	margin-left:50px 0px 50px 50px;
	position:relative;
}
.photo-container{
	position:relative;
	
}
.photo-main{
	background-color:#b4ec51;
	postion:relative;
	padding:40px;
}
.photo-main img{
	max-width:100%;
	margin-left:-35%;
}
.controls{
	position:absolute;
	color:white;
	right:15px;
	top:15px;
	left:15px;
	display:flex;
	justify-content:space-between;
	font-size:18px;
}
.photo-album{
	display:flex;
	
}

.photo-album ul{
	list-style-type:none;
	display:flex;
	justify-content:space-around;
	background-color:white;
	width:100%;
	padding:0;
}
.photo-album li {
	border:3px solid #B2BEB5;
	margin:20px;
	padding:5px;
	border-radius:10px;
	background-color:white;
	margin-right:-0px;
}
.product__info{
	border:2px solid white;
	background-color:white;	
	width:65%;
	padding:40px 30px;
	z-index:1;
	margin-top:-80%;
	position:relative;
	padding:40px 30px 40px 80px;
	flex-direction:column;
	margin-left:60%;
	height:85vmin;
	margin-bottom:70%
}
.title{
	text-align:center;
	margin-bottom:15px;
}
.title span{
	color:grey;
}
.variant{
	color:grey;
}
.first{
	border:1px solid black;
	width:20%;
	
	
}
.variant ul{
	list-style-type:none;
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
}
li{
	gap:10px;
	
}
h1{
	font-weight:bold;
}
