/* your code here */
*{
	margin:0;
	padding:0;
}
body{
	background-color:#00FA9A;
}
.product__info{
	border:2px solid black;
	background-color:white;
	
}
.title{
	text-align:center;
}
.title span{
	color:grey;
}
h1{
	font-weight:bold;
}
